.adress {
  margin-top: 20px;
  list-style: none;
}
.adress {
  text-align: left;
  list-style: none;
  padding-inline-start: 0px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 92px;
  margin-right: 0;
}

.adress__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white);
  padding-bottom: 9px;
}
.adress__mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: var(--link-color);
  padding-bottom: 9px;
}
.adress__phone {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
.adress-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}
