.adress {
  text-align: center;
  list-style: none;
  display: block;
  flex-wrap: wrap;
  padding: 0;
  margin-right: 0;
  max-width: 251px;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.adress__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white);
  padding-bottom: 9px;
}
.adress__mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: var(--link-color);
  padding-bottom: 9px;
}
.adress__phone {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
