.agreement {
  padding-left: 0px;
  margin-top: 25px;
  margin-bottom: 30px;
  outline: none;
  border: none;
  max-width: 100%;

  @media screen and (min-width: 1200px) {
    padding-left: 14px;
  }
}
.agreement__label {
  padding-left: 0px;
  margin-top: 25px;
  margin-bottom: 30px;
  text-align: center;
  justify-self: center;

  /*  position: relative;
  text-align: center;
  text-size-adjust: 100%;
  margin-left: 40px;
  flex-direction: row;
  flex-wrap: nowrap; */
}
.agreement__label .agreement__input {
  width: 0;
  height: 0;
  opacity: 0;
}

.agreement__icon {
  position: absolute;
  width: 16px;
  height: 15px;
  border: 1px solid var(--grey);
  border-radius: 2px;
  margin-left: 40px;
  margin-right: auto;
  @media screen and (max-width: 480px) {
    padding-right: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 20px;
  }
}
.agreement__icon svg {
  margin-bottom: 3px;
  margin-left: 2px;
  margin-right: auto;
  color: var(--white);
}
.agreement__input:checked + .agreement__icon svg {
  background-color: var(--blue);
}
.agreement__input:checked + .agreement__icon {
  background-color: var(--blue);
  border-radius: 2px;
}
.agreement__text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: var(--grey);
  margin-left: 30px;
  margin-right: auto;
  margin-top: -20px;
  display: block;
  max-width: 100%;
  justify-self: center;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.7;
    margin-top: -20px;
    margin-left: 36px;
    display: block;
  }
  /*  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: var(--grey);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -16px;
  margin-left: 64px;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.7;
    margin-top: -20px; */
}

.agreement__text-blue {
  color: var(--blue);
  text-decoration: underline;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  max-width: 100%;
}
