.agreement {
  display: flex;
  width: 370px;
  height: 24px;
  position: relative;
  margin-top: 20px;
  outline: none;
  border: none;

  @media screen and (min-width: 1200px) {
    width: 420px;
    height: 24px;
  }
}
.agreement__label {
  position: relative;
  text-align: center;
  text-size-adjust: 100%;
  margin-left: 40px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.agreement__label .agreement__input {
  width: 0;
  height: 0;
  opacity: 0;
}

.agreement__icon {
  position: absolute;
  width: 16px;
  height: 15px;
  border: 1px solid var(--grey);
  border-radius: 2px;
  margin-left: 40px;
}
.agreement__icon svg {
  margin-bottom: 3px;
  margin-left: 2px;
  color: var(--white);
}
.agreement__input:checked + .agreement__icon svg {
  background-color: var(--blue);
}
.agreement__input:checked + .agreement__icon {
  background-color: var(--blue);
  border-radius: 2px;
}
.agreement__text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: var(--grey);
  display: flex;
  margin-top: -16px;
  margin-left: 64px;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.7;
    margin-top: -20px;
  }
}
.agreement__text-blue {
  color: var(--blue);
  text-decoration: underline;
  margin-left: 2px;
  margin-right: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: flex;
}
