.header {
  border-bottom: 1px solid #ececec;
  margin: 0px;
}
.header__content {
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
