.header {
  border-bottom: 1px solid #ececec;
  width: 100%;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 767px) {
    max-width: 767px;
  }
}
