.logo {
  margin-left: 15px;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;

  @media screen and (min-width: 768px) {
    margin-left: 15px;
    margin-top: 26px;
    margin-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 24px;
    margin-bottom: 16px;
  }
}

.logo__icon {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
  color: var(--black);
  letter-spacing: 0.03em;
}
.logo__text {
  color: var(--blue);
}
