.mobile-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  padding: 15px 10px 48px 40px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* .mobile-menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  color: #212121;
  border: none;
  margin-left: auto;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--blue);
  }
}

.mobile-menu__nav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  padding: 15px 10px 48px 40px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
 */
