.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  fill: #000000;
}
.modal {
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  position: absolute;
  background-color: #ffffff;
  visibility: visible;
  opacity: 1;
  display: block;
  transform: translate(-50%, -50%);
}
.modal__form {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.modal__text-head {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 1, 17;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--black);
  padding-top: 40px;
}
.modal__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: var(--grey);
  letter-spacing: 0.01em;
  font-style: normal;
  margin-top: 10px;
  position: relative;
  margin-bottom: 4px;
}
.modal__field-text {
  width: 448px;
  resize: none;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 0px;
  margin-left: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: -10px;

  &:focus-within {
    border: 1px solid var(--blue);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal__icon-person {
  position: absolute;
  width: 12px;
  height: 12px;
  fill: var(--black);
  left: 15px;
  margin-top: 28px;
}
.modal__icon-phone {
  margin-top: 28px;
  position: absolute;
  width: 13px;
  height: 13px;
  fill: var(--black);
  left: 15px;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}
.modal__icon-mail {
  position: absolute;
  width: 15px;
  height: 12px;
  fill: var(--black);
  left: 15px;
  margin-top: 28px;
}

.modal__btn {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  padding: 10px 76px 10px 76ox;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 76px;
  padding-right: 76px;

  &:hover {
    opacity: 0.8;
    transition: var(--tranistion);
  }
}
