.newsletter {
  margin-top: 60px;
  width: 100%;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    width: auto;
    margin-top: 0;
  }
}

.newsletter__text {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px;
  padding-bottom: 20px;
  color: #fff;

  @media screen and (min-width: 1200px) {
    justify-content: left;
  }
}

.newsletter__form {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.newsletter__input {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 450px;
  max-width: 100%;
  padding: 13px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.15);
  color: var(--white);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: var(-link-color);
  }
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
  @media (min-width: 1200px) {
    margin-left: 0;
    width: 358px;
    margin-right: 12px;
    padding: 20px;
    justify-content: left;
  }
}
.newsletter__area {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.newsletter__button {
  display: flex;
  border: none;
  margin-top: 20px;
  padding: 8px 29px;
  border-radius: 4px;
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-left: 271px;
  }

  @media (min-width: 1200px) {
    margin-left: 12px;
    width: 200px;
    height: 50px;
  }
}
.newsletter__icon {
  fill: var(--white);
  margin-left: 24px;
}
