.our-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--notwhite);
  width: 100%;
}
.our-team__header {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--black-soft);

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
.our-team__list {
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
  justify-content: center;
  list-style: none;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.our-team__background {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 100%;
}

.our-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.our-team__position {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.our-team__icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;
  margin-top: 16px;
  list-style: none;
  gap: 10px;
}
.our-team__icon-media-box {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
  &:hover,
  &:focus {
    fill: var(--white);
    background-color: var(--blue);
    transition: var(--tranistion);
  }
}
/* .our-team__header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  color: var(--black);
  margin: 0;
  padding: 94px 495px 50px;
}

.our-team__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  margin: 0;
  padding: 0 15px 94px;
}

.our-team__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.197;
  letter-spacing: 0.03em;
  color: var(--black);
  text-align: center;
  margin: 0;
  padding-top: 10px;
  justify-content: center;
}
.our-team__position {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.197;
  text-align: center;
}

.our-team__icon-list {
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.our-team__icon-media-box {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  fill: #afb1b8;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--white);
    background-color: var(--blue);
    transition: var(--tranistion);
  }
}

.our-team__background {
  width: 270px;
  height: 428px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
 */
