.our-customers {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 100%;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
  }
}
.our-customer__header {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
.our-customers__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  max-width: 100%;
  @media screen and (max-width: 1200px) {
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 0;
    margin-bottom: 94px;
    max-width: 1200px;
    flex-wrap: nowrap;
  }
}

.our-customers__icon {
  height: 90px;
  width: 170px;

  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    fill: var(--blue);
    border-color: var(--blue);
    fill: var(--blue);
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 4 * 10px) / 2);
    margin: 15px;
    padding: 16px 0;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 170px;
  }
}

/* .our-customers__icon {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  margin: auto;
  fill: #afb1b8;
  cursor: pointer;

  &:hover {
    fill: var(--blue);
    border-color: var(--blue);
    transition: var(--tranistion);
  } */
/* * .our-customer__header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  margin: 0;
  padding-top: 94px;
  padding-bottom: 50px;
}
.our-customers__list {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 94px;
}

.our-customers__logo {
  display: flex;
  justify-content: center;
}


} */
