.paragraph {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  @media screen and (max-width: 479px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.paragraph-list {
  justify-content: center;
  grid-gap: 30px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.paragraph-list__list-item {
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.paragraph-list__icon {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  flex-wrap: wrap;
  background-color: #f5f4fa;

  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.paragraph-list__heading {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.paragraph-list__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey);
}

/* .paragraph-list {
  list-style: none;
  justify-content: center;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 0;
  padding: 94px 15px;
}
.paragraph-list__icon {
  color: currentColor;
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 101px 25px 101px;
}

.paragraph-list__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
  margin: 0px auto;
  font-size: 14px;
}
.paragraph-list__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--grey);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 3px;
}
 */
