.portfolio-cards {
  list-style: none;
  gap: 30px;
  box-sizing: border-box;
  margin: 50px 0 94px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
}
.portfolio-cards__backgroud {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  flex-basis: calc((100% - 60px) / 3);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition: var(--tranistion);
  }
}

.portfolio-cards__backgroud:hover .card__text {
  transform: translateY(0);
}
